<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Camera access is required to scan book barcodes</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Photo Library access is needed to save book covers</string>
</dict>
</plist>
